<% if params[:controller] == 'about' %>
<div class= "well">
	<h3>Location Info</h3>
	<ul>
		<li>The Bookstore</li>
		<li>499 Massachusets Avenue, Unit 2</li>
		<li>London, MA 02889</li>
		<li>Phone: (617) 666.6666</li>
		<li>Email: supporter@thebookstore.com</li>
	</ul>
</div>
<% end %>


